*{
    margin: 0;
    padding: 0;
}

.header{
    .nav{
        padding: 20px;
        display: flex;
        justify-content: flex-end;

        .nav_close{
            display: none;
        }

        .nav_toggle{
            display: none;
        }

        ul{
            display: flex;
            justify-content: space-between;
            list-style-type: none;

            li{
                margin-right: 100px;

                a{
                    font-family: 'Heebo';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 29px;
                    text-decoration: none;
                    color: #000000;
                }

                .blog{
                    color: #FF6464;
                }
            }
        }
    }
}

.main{
    padding:35px 149px;

    h1{
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 60px;
        color: #21243D;
        margin-bottom: 35px;
    }

    ul{
        list-style-type:none;
    }

    .frog{
        padding: 15px; 
        border-bottom: 1px solid #E0E0E0;
        padding-right: 15px; 
        margin-right: 15px; 
        margin-bottom: 30px;
        
        h2{
            font-family: 'Heebo';
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 44px;
            color: #21243D;
            margin-bottom: 5px;
        }
    }

    .data{
        margin-bottom: 15px;
    }

    .data-text{
        font-family: 'Heebo'; 
        font-style: normal; 
        font-weight: 400; 
        font-size: 20px; 
        line-height: 29px;
        color: #21243D;
        border-right: 2px solid black; 
        padding-right: 15px; 
        margin-right: 15px;
    }

    .handlebars{
        font-family: 'Heebo'; 
        font-style: normal; 
        font-weight: 400; 
        font-size: 20px; 
        line-height: 29px;
        color:lightgrey;
    }

    .data{ 
        display: flex; 
    }

    .text{
        font-family: 'Heebo'; 
        font-style: normal; 
        font-weight: 400; 
        font-size: 16px; 
        line-height: 24px;
        color: #21243D;
        margin-bottom: 30px;
    }
}

.footer{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    padding:0 149px 35px 149px;

    ul{
        display: flex;
        list-style-type: none;
        justify-content: center;

        li{
            margin-left: 35px;
        }

        .fb{
            margin-left: 0;
        }
    }

    p{        
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #21243D;
        margin-top: 10px;
    }
}

//media

@media (min-width:320px) and (max-width:480px){
    .container{
        .header{
            padding: 25px;

            .nav_menu{
                position: fixed;
                background-color: hsla(0, 0%, 100%, .1);
                top: 0;
                right: -100%;
                width: 100%;
                height: 100%;
                backdrop-filter: blur(96px);
                transition: .3s;
            }
    
            .nav_list{
                display: flex;
                flex-direction: column;
                text-align: center;
                row-gap: 3rem;
                padding-top: 9rem;
            }
            
            .nav_link{
                text-transform: uppercase;
                color: var(--title-color);
                font-size: var(--h2-font-size);
                font-weight: var(--font-medium);
                transition: .3s;
            }
    
            .nav_close{
                font-size: 2rem;
                color: var(--white-color);
                position: absolute;
                top: 1rem;
                right: 1rem;
                cursor: pointer;
                display: inline;
            }

            .nav_toggle{
                display: inline;
            }
            
            .show-menu{
                right: 0;
            }

            .main-header{
                padding: 0;
                display: flex;
                flex-direction: column-reverse;
                margin: 0;
                align-items: center;
                gap:0;

                .header-text{
                    text-align: center;
                }
            }
        }

        main{
            padding: 20px;

            ul{
                li{
                    h2{
                        font-family: 'Heebo';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 26px;
                        line-height: 38px;
                        color: #21243D;
                    }

                    .data{
                        .data-text{
                            font-family: 'Heebo';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 24px;
                        }

                        .handlebars{
                            font-family: 'Heebo';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 24px;
                        }
                    }

                    p{
                        font-family: 'Heebo';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
            }
        }
    }
}